* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: #243b55;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #141e30;
}

ul {
    list-style: none;
}

li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.task-text {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.actions {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.actions button {
    flex: 1;
    font-size: 12px;
}